*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
#wrapper{
    width:900px;
    margin: 0 auto;
}
header{
    background-color: black;
    color: white;
    height: 50px;
    width:100%;
    position: sticky;
  top: 0;
  z-index: 100;
}
header h1 {
    float: left;
    font-size: 28px;
    color:white;
    padding-top:7px;
    padding-left:15px;
}
.header_img{
    float: left;
    padding-top:12px;
    padding-left:10px;
    /* padding-left: 30px; */
}
#wrapper nav{
    float:right;
    padding-top: 5px;
}
nav{
    padding-right: 15px;
}
nav ul{
    list-style-type: none;

}
nav li{
    padding-top: 7px;
}
nav ul li{
    display: inline-block;
    margin-left:10px;
}
nav ul li a {
    text-decoration: none;
    color:white;
    font-weight:500;
    
}
nav ul li a:hover{
    border: 1px sloid black;
    background-color: white;
    color:black;
}

div .carsoul{
    width: 100%;
    margin-bottom: 10px;
}
#wrapper main{
    width: 100%;
}

#wrapper h2{
    color:white;
    text-align: center;
    background-color: black;
    margin-top: 3px;
    font-size:20px;
}
#wrapper h3{
    text-align: center;
    font-size:15px;
}
.card{
    /* padding-top: 5px; */
    text-align: center;
}
main .row{
    margin-bottom:7px;
    margin-top: 7px;
}
#wrapper footer{
    width: 100%;
}
/* footer{
    height: 400px;
    text-align: center;
    background-color: black;
    color: white;
} */
footer .ftop{
    width: 100%;
    color:white;
    background-color: rgb(94, 100, 103);
    font-size: medium;
}
/* div .column2{
    margin-left: 7px;
} */
footer .bottom{

    background-color: black;
    color: white;
    height: 30px;
}
div .row1{
    padding-left:6px;
}

.row1 p{
    font-size: small;

}
.column{
    height:515px;
} 
.text{
    text-align: justify;
}
.bottom img{
    text-align: center;
}

.bottom a{
    float: right;
    padding-right: 10px;

}
.bottom{
    text-align: center;
}